.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.AppCover {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* background-color: #dcf4e1; */
}
.AppFrame {
  width: 390px;
  /* height: 844px; */
}
